.DriverCard {
  display: flex;
  background-color: #425cbb;
  color: white;
  margin: 5px;
  padding: 20px;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
}

.DriverCard img {
  height: 100px;
  width: 100px;
  object-fit: cover;
  border-radius: 50px;
  margin-right: 10px;
}

.DriverCard h2 {
  margin: 0;
  font-size: 30px;
}